@import '../node_modules/d2-ui/lib/css/HeaderBar.css';
$left-bar-width: 300px;

html {
  background-color: #f3f3f3;
  font-family: Roboto, Arial, sans-serif;
}

.app-wrapper {

}

.left-bar {
  bottom: 0;
  left: 0;
  padding-top: 3rem;
  position: fixed;
  top: 0;
}

.content-area {
  margin-left: $left-bar-width+15;
  margin-right: auto;
}
